// FOOTER SECTION //////////////////////

footer {
	.footer-content {
		.footer-above {
			display: flex;
			justify-content: space-between;
			margin: 162px 0 116px 0;
            flex-wrap: wrap;
            gap: 24px;
			.part-1 {
				h3 {
					color: #211f54;
					font-family: Roboto;
					font-size: 28px;
					font-style: normal;
					font-weight: 700;
					line-height: 36.008px; /* 128.6% */
					width: 256px;
				}
				p {
					color: #6e7191;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
					width: 304px;
					margin: 7px 0 34px 0;
				}
				.part-one-boxes {
					display: flex;
					align-items: center;
					gap: 16px;
					div {
						width: 36px;
						height: 36px;
						flex-shrink: 0;
						border-radius: 8px;
						background: #edf5ff;
					}
				}
			}

			.part-2 {
				h5 {
					color: #211f54;
					font-family: Roboto;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 22px; /* 110% */
					margin-bottom: 34px;
				}
				p {
					color: #6e7191;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
					width: 259px;
					margin-bottom: 12px;
				}
				ul {
					li {
						color: #6e7191;
						font-family: Roboto;
						font-size: 18px;
						font-style: normal;
						font-weight: 400;
						line-height: 30.006px; /* 166.7% */
						margin-bottom: 18px;
					}
				}
			}

			.part-3 {
				h5 {
					color: #211f54;
					font-family: Roboto;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 22px; /* 110% */
					margin-bottom: 28px;
				}
				h6 {
					color: #211f54;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 19.998px; /* 111.1% */
					margin-bottom: 1px;
				}
				span {
					color: #6e7191;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
					margin-bottom: 17px;
				}
			}

			.part-4 {
				h5 {
					color: #211f54;
					font-family: Roboto;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 22px; /* 110% */
					margin-bottom: 28px;
				}
				h1 {
					color: #0075ff;
					font-family: Roboto;
					font-size: 28px;
					font-style: normal;
					font-weight: 700;
					line-height: 36.008px; /* 128.6% */
					margin-bottom: 6px;
				}
				p {
					color: #6e7191;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
					width: 294px;
					margin-bottom: 18px;
				}
				button {
					color: #fff;
					text-align: center;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 700;
					line-height: 20px; /* 111.111% */
				}
			}
		}

		.footer-below {
			display: flex;
			align-items: center;
			justify-content: space-between;
            padding: 30px 0;
            flex-wrap: wrap;
			.b-right {
				p {
					color: #6e7191;
					text-align: right;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
				}
				a {
					color: #0075ff;
					text-align: right;
					font-family: Roboto;
					font-size: 18px;
					font-style: normal;
					font-weight: 400;
					line-height: 30.006px; /* 166.7% */
					text-decoration-line: underline;
				}
			}
		}
	}
}


@media only screen and (max-width: 1118px) {
    .footer-above {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        // flex-direction: column;
        text-align: center;
        row-gap: 48px;
        margin: 0 auto;


    }
}
